*/*/config.old
*/*/rootfs_config.old
build/
images/linux/
!images/linux/image.ub
!images/linux/BOOT.BIN
!images/linux/rootfs.tar.gz
pre-built/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
project-spec/meta-plnx-generated/
/components/plnx_workspace
